.idea/workspace.xml
db.sqlite3
manage.py
.idea/misc.xml
.idea/modules.xml
.idea/tasking.iml
.vscode/launch.json
.vscode/settings.json
tasking/__init__.py
tasking/settings.py
tasking/urls.py
tasking/wsgi.py
tasking/__pycache__/__init__.cpython-36.pyc
tasking/__pycache__/settings.cpython-36.pyc
tasking/__pycache__/urls.cpython-36.pyc
tasking/__pycache__/views.cpython-36.pyc
tasking/__pycache__/wsgi.cpython-36.pyc
templates/tasking/index.html
